<div class="page-header">
  <h4>List of Employees</h4>
</div>

<div class="btn-toolbar">
  <%= link_to "New Employee", new_admin_employee_path, :class => "btn btn-primary pull-right" %>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Code</th>
    <th>Email</th>
    <th>Name</th>
    <th>Mobile</th>
    <th style="width: 160px;">Options</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each.with_index do |employee, i| %>
    <% _page = @page.to_i == 1 ? 0 : @page.to_i %>
    <tr>
      <td><%= _page+i+1 %></td>
      <td><%= employee.display_code %></td>
      <td><%= employee.email %></td>
      <td><%= employee.name %></td>
      <td><%= employee.contact_mobile %></td>
      <td>
        <%= link_to 'View', admin_employee_path(employee), :class => "btn btn-info btn-xs" %>
        <%= link_to 'Edit', edit_admin_employee_path(employee), :class => "btn btn-primary btn-xs" %>
        <%= link_to 'Delete', admin_employee_path(employee), :class => "btn btn-danger btn-xs", :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <% unless @employees %>
    <tfoot>
    <tr>
      <td colspan="5">
        No Records Found
      </td>
    </tr>
    </tfoot>
  <% end %>
</table>
<% if @employees %>
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <%= will_paginate @employees, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
    </div>
  </div>
<% end %>
