<div class="page-header">
  <h4><%= "#{@employee.name}'s Profile"%></h4>
</div>

<div class="row">
  <div class="col-lg-6">
    <table>
      <tbody>
      <tr>
        <td>
          <div class="employee_picture">
            <%= image_tag @employee.picture.url(:medium), :class => "img-thumbnail" %>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-4">
        <div class="employee_picture">
          <%= image_tag @employee.picture.url(:medium), :class => "img-thumbnail" %>
        </div>
      </div>
      <div class="col-lg-8">
        <h3><%= @employee.full_name %></h3>
        <p>
          <%= @employee.birth_date.strftime("%b %Y, %d") %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6"></div>
</div>
